<div class="overlay-container mat-elevation-z2">
  <mat-divider />
  <mat-action-list>
    @for(search of recentSearches(); track search){
      <mat-list-item (click)="onHistoryItemChoosen.emit(search)">
        <mat-icon matListItemIcon>history</mat-icon>
        <h3 matListItemTitle>{{search}}</h3>
        <button matListItemMeta mat-icon-button (click)="deleteHistoryItem($event, search)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    }
    @for(recipe of filteredRecipesList(); track recipe){
      <mat-list-item (click)="navigateToDetails(recipe.id)">
        <img matListItemIcon class="r-img" [ngStyle]="{'opacity': isDark() ? '0.75' : '1'}" width="20" height="15" priority
        ngSrc="{{recipe.photo?.url || recipe?.imageUrl || '/assets/default/meal.jpg'}}"
        alt="{{recipe.title}}">
        <h3 matListItemTitle>{{recipe.title}}</h3>
        <button matListItemMeta mat-icon-button >
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-list-item>
    }
    @if(isLoading$ | async){
      @for (_ of skeletonItems; track $index) {
        <mat-list-item class="search-skeleton-item" aria-hidden="true">
          <span matListItemIcon class="r-skeleton search-skeleton-image"></span>
          <span matListItemTitle class="r-skeleton r-skeleton-line search-skeleton-title"></span>
          <span matListItemMeta class="r-skeleton search-skeleton-action"></span>
        </mat-list-item>
      }
    }
  </mat-action-list>
</div>
