.overlay-container {
  border-radius: 0 0 2rem 2rem;
  background-color: rgba($color: #cabd04, $alpha: .1);
  backdrop-filter: blur(10px);
  max-height: 60vh;
  overflow: auto;
  padding-bottom: 1rem;
  width: 55vw;

  @media screen and (max-width: 600px) {
    width: 75vw;
  }
}


.loading-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 20px;

  &::after {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(150, 150, 150, 0.5), transparent);
    animation: loading 2.5s infinite;
    overflow: hidden;
  }
  
}

@keyframes loading {
  0% { left: -100%; }
  50% { left: 100%; }
  100% { left: 100%; }
}