<div class="reset-password-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'common.password' | t }}</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">
        {{ 'account.errors.passwordRequired' | t }}
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">
        {{ 'account.errors.passwordPattern' | t }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'common.confirmPassword' | t }}</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
    </mat-form-field>
    <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.hasError('passwordMismatch')">
      {{ 'account.errors.passwordsMismatch' | t }}
    </mat-error>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
      {{ 'account.resetPassword.reset' | t }}
    </button>
  </form>
</div>
