.r-spacer {
  flex: 1 1 auto;
}

.r-header-title {
  text-decoration: none;
  color: inherit;
}

.r-logo { 
  height: 40px;
}

.r-logo-image {
  height: 50px;
  
}

.r-logo-h3 {
  margin-left: 0.5rem;
  color: #33bfb8;
  font-weight: 300;
  font-size: 24px;
  line-height: 0.65;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
}

.r-logo-p {
  font-size: 16px;
  color: #0baa92;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
}


.r-login-btn {
  margin-left: 0.5rem;
}

.r-slide-toggle {
  transform: scale(0.7);
}

.r-display-none {
  display: none;
}

.r-favorites-btn {
  margin-left: 1rem;
}
