<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/all-recipes">All recipes</button>
  </mat-menu>
  <a routerLink="/recipes" routerLinkActive="router-link-active" class="r-header-title">
    <div class="r-logo-h3">Recipes</div>
    <div class="r-logo-p">with passion</div>
  </a>
  <span class="r-spacer"></span>
  <mat-slide-toggle (change)="onDarkModeSwithed($event)" checked="true"> 
    <mat-icon>bedtime</mat-icon>
  </mat-slide-toggle>
</mat-toolbar>
