.r-spacer {
  flex: 1 1 auto;
}

.r-header-title {
  text-decoration: none;
  color: inherit;
}

.r-logo {
  color: #FF0;
  background-color: #A05;
  font-size: xx-large;
  font-family: Leckerli One;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
}

.r-logo-image {
  height: 50px;
  
}

.r-logo-h3 {
  margin-left: 0.5rem;
  color: #33bfb8;
  font-weight: 300;
  font-size: 24px;
  line-height: 0.65;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
}

.r-logo-p {
  font-size: 16px;
  color: #0baa92;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
}


.r-login-btn {
  margin-left: 0.5rem;
}
