<mat-toolbar>
  <button mat-icon-button  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/recipes" routerLinkActive="router-link-active" class="r-header-title">Culinary recipes</a>
  <span class="r-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-slide-toggle (change)="onDarkModeSwithed($event)" checked="true">Dark Mode</mat-slide-toggle>
</mat-toolbar>
