.r-details {
  .r-container {
    border-radius: 15px;
    
    &.r-dark-mode {
      color: rgba(255,255,255,0.6);
    }
  
    &.r-desktop {
       margin: 0 5vw;
       padding: 1rem;
    }

    &.r-tablet {
      margin: 5rem 2vw;
      padding: 2rem;
    }
    
    &.r-handset-poitret-mode{
      margin: 0;
      padding: 0;
    }
  
    .r-grid-container {
      margin: 16px;
      &.r-desktop {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 0.5fr) 1.5fr repeat(2, 1fr);
        grid-template-rows: 0.25fr 0.75 0.25fr 1fr auto;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
  
        .r-grid-item-1 {
          grid-area: 1 / 1 / 3 / 4;
        }
  
        .r-grid-item-2 {
          grid-area: 3 / 1 / 4 / 2;
        }
  
        .r-grid-item-3 {
          grid-area: 4 / 1 / 6 / 4;
        }
  
        .r-grid-item-4 {
          grid-area: 3 / 2 / 4 / 3;
        }
  
        .r-grid-item-5 {
          grid-area: 3 / 3 / 4 / 4;
        }
  
        .r-grid-item-6 {
          grid-area: 1 / 4 / 2 / 6;
        }
  
        .r-grid-item-7 {
          grid-area: 2 / 4 / 6 / 5;
        }
  
        .r-grid-item-8 {
          grid-area: 2 / 5 / 6 / 7;
        }
  
        .r-grid-item-9 {
          grid-area: 1 / 6 / 2 / 7;
        }
      }

      &.r-tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 0.25 auto 0.5 repeat(2, auto) repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
  
        .r-grid-item-1 {
          grid-area: 1 / 1 / 2 / 4;
        }
  
        .r-grid-item-2 {
          grid-area: 2 / 1 / 3 / 2;
        }
  
        .r-grid-item-3 {
          grid-area: 3 / 1 / 4 / 4;
        }
  
        .r-grid-item-4 {
          grid-area: 2 / 2 / 3 / 3;
        }
  
        .r-grid-item-5 {
          grid-area: 2 / 3 / 3 / 4;
        }
  
        .r-grid-item-6 {
          grid-area: 4 / 1 / 5 / 3;
        }
  
        .r-grid-item-7 {
          grid-area: 5 / 1 / 6 / 4;
        }
  
        .r-grid-item-8 {
          grid-area: 6 / 1 / 7 / 4;
        }
  
        .r-grid-item-9 {
          grid-area: 4 / 3 / 5 / 4;
        }
      }
  
      &.r-small {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 0.25 auto 0.5 repeat(2, auto) repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
  
        .r-grid-item-1 {
          grid-area: 1 / 1 / 2 / 4;
        }
  
        .r-grid-item-2 {
          grid-area: 2 / 1 / 3 / 2;
        }
  
        .r-grid-item-3 {
          grid-area: 3 / 1 / 4 / 4;
        }
  
        .r-grid-item-4 {
          grid-area: 2 / 2 / 3 / 3;
        }
  
        .r-grid-item-5 {
          grid-area: 2 / 3 / 3 / 4;
        }
  
        .r-grid-item-6 {
          grid-area: 4 / 1 / 5 / 3;
        }
  
        .r-grid-item-7 {
          grid-area: 5 / 1 / 6 / 4;
        }
  
        .r-grid-item-8 {
          grid-area: 6 / 1 / 7 / 4;
        }
  
        .r-grid-item-9 {
          grid-area: 4 / 3 / 5 / 4;
        }
      }
    }
  
    .r-img {
      object-fit: contain;
      border-radius: 15px;
      width: 100%;
      height: auto;
    }

    .r-ul,.r-ol {
      .r.li{
        color: black !important;
      }
    }

    .r-item {
      padding: .5rem;
      border-radius: 15px;
    }

    .r-header {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      flex-flow: row wrap;
    }
  
    .r-content-bg-dark {
      background: linear-gradient(270deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(55,55,55,1) 100%);
    }
  
    .r-content-bg-dark-reverse {
      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(55,55,55,1) 100%);
    }
  
    .r-content-bg-light {
      background: linear-gradient(270deg, rgba(1, 75, 131, 0) 0%, rgba(3, 89, 164, 0) 20%, rgb(0, 84, 132,0.1) 100%);
    }
  
    .r-content-bg-light-reverse {
      background: linear-gradient(90deg, rgba(1, 75, 131, 0) 0%, rgba(3, 89, 164, 0) 20%, rgb(0, 84, 132, 0.1) 100%);
    }
  
    .r-header-bg-dark {
      background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(70,70,70,1) 100%);
    }
  
    .r-header-bg-light {
      background: linear-gradient(0deg, rgba(2, 255, 129, 0) 0%, rgba(13, 120, 150, 0) 20%, rgba(220, 220, 220, 0.334) 100%);
    }
  
    .r-igredients, .r-instructions, .r-header {
      padding: 2rem 2rem 1rem 2rem;
    }
  
    .r-content, .r-header {
      border-radius: 15px;
    }
  }
}

.r-center {
  text-align: center;
  margin: 2rem auto;
}

