.r-header {
  display: flex;
  justify-content: center;
  
  .r-add-button {
    margin: 0.5rem;
    transform: scale(0.9);
  }
}

.r-chips{
  &.r-desktop{
    margin: 0.25rem auto;
    padding: 0.5rem 0.25rem;
    width: calc(55% + 10rem);
  }
  
  &.r-handset-poitret-mode{
    width: 95%;
    margin: 0.25rem auto;
    padding: 0.5rem 0.25rem;
  }
}

