.r-container {
  --card-min: 500px;
  --gap: 4rem;

  &.r-desktop {
    margin: 0.25rem auto;
    padding: 0.5rem 0.25rem;
    width: calc(70% + 10rem);
  }

  &.r-handset-poitret-mode {
    width: 95%;
    margin: 0.25rem auto;
    padding: 0.5rem 0.25rem;
  }

  .r-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__top {
      display: flex;
      justify-content: space-between;

      .r-add-button {
        margin: 0.25rem;
        transform: scale(0.7);
      }

      .r-search-bar-container {
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #cabd04, $alpha: .05);
        width: 55vw;

        @media screen and (max-width: 600px) {
          width: 75vw;
        }

        &__left {
          display: flex;
          padding-left: 1rem;

          .r-input {
            font-size: 1.1rem;
            outline: none;
            border: none;
            background: transparent;
            margin-left: 0.5rem;
            flex-grow: 1;


            @media screen and (max-width: 600px) {
              width: 40vw;
            }

            &.r-dark-mode {
              color: rgb(187, 187, 187);
            }
          }
        }

        .r-clear-filter {
          margin-right: 1rem;
        }

        &.opened {
          background-color: rgba($color: #cabd04, $alpha: .2);
          border-radius: 2rem 2rem 0 0;
        }
      }
    }
  }

  .r-content {
    &.r-desktop {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--card-min), 1fr));
      gap: var(--gap);
      align-items: stretch;
    }
  }
}