.r-form-recipes-data {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 14px;
}

.r-form-recipes-data-instructions {
  min-width: 150px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 14px;
}

.r-full-width {
  width: 100%;
}

.r-list {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 4px;
  max-height: 700px;
}

.r-dark {
  border: solid 1px #484848;
  background: #6c6c6c;
  color: rgba(255, 255, 255, 0.87);
}

.r-light {
  border: solid 1px #6c6c6c;
  background: #efefef;
  color: rgba(0, 0, 0, 0.87);
}

.r-box {
  padding: 10px 20px;
  border-bottom: solid 1px #484848;

  display: inline-grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  text-align: justify;
  cursor: move;
  
  font-size: 14px;
  flex-wrap: wrap;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.r-box:last-child {
  border: none;
}

.r-list.cdk-drop-list-dragging .r-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.r-item-action-buttons {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 12px;
}

.r-new-instruction {
  margin-top: 10px;
}

.r-grid-3-columns {
  display: inline-grid;
  grid-template-columns: 2fr 1.25fr 1fr;
  gap: 4px;
}

.r-ingredient-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 12px;
  width: 100%;
}

.r-ingredients {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.r-ingredients-list {
  display: flex;
  flex-direction: column;
  align-items:normal;
  align-content: center;
  max-width: 1200px;
  justify-content: space-between;
}

.r-header{
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
}

.r-stepper-footer {
  margin-top: 2rem;
}

.r-file-input {
  display: none;
}

.r-slide-toggle {
  margin-bottom: 22px;
}