<div class="r-header">
  <h2>Add new recipe</h2>
  <button mat-fab extended color="primary" [disabled]="!(!disableSafe || recipeId)" (click)="save()">
    <mat-icon>save</mat-icon>
      Save
  </button>
</div>
<mat-stepper  linear="false"  [orientation]="(stepperOrientation | async) ?? 'horizontal'" #stepper (selectionChange)="checkCompletion()" >
  <mat-step>
    <form class="r-form-recipes-data">
      <ng-template matStepLabel>Fill out recipe data</ng-template>
      <mat-form-field class="r-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" [(ngModel)]="recipe.title" name="title">
      </mat-form-field>
      <mat-form-field class="r-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Write description of the dish" [(ngModel)]="recipe.description" name="description"></textarea>
      </mat-form-field>
      <mat-form-field class="r-full-width">
        <mat-label>Servings</mat-label>
        <input type="number" matInput placeholder="number of servings" [(ngModel)]="recipe.servings" name="servings">
      </mat-form-field>
      <mat-form-field class="r-full-width">
        <mat-label>Cooking time</mat-label>
        <input type="number" matInput placeholder="cooking Time [minutes]" [(ngModel)]="recipe.cookingTime" name="cookingTime">
      </mat-form-field>
      <mat-form-field class="r-full-width">
        <mat-label>Preparation time</mat-label>
        <input type="number" matInput placeholder="Preparation Time [minutes]" [(ngModel)]="recipe.preparationTime" name="preparationTime">
      </mat-form-field>
      <div class="r-stepper-footer">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Igredients</ng-template>
    <div class="r-ingredients">
      <div class="r-ingredients-list">
        <div class="r-ingredient-list-item" *ngFor="let item of recipe.ingredients; let i= index;">
            <div>
              {{item.name}} - {{item.quantity}} 
            </div>
            <div class="r-item-action-buttons">
              <button mat-mini-fab class="recipe-mat-fab-secondary" (click)="deleteIngredient(i)" matTooltip="Delete Ingredient">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="primary" (click)="editIngredient(i)" matTooltip="Edit Ingredient">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
        </div>
      </div>
      <div class="r-grid-2-columns">
        <mat-form-field class="r-full-width r-new-instruction">
          <mat-label>Ingredient</mat-label>
          <textarea matInput placeholder="Igredient name" [(ngModel)]="newIngredient.name" (keyup.enter)="addNewIngrdient()" name="newInstructions.name"></textarea>
        </mat-form-field>
        <mat-form-field class="r-full-width r-new-instruction">
          <mat-label>Quantity</mat-label>
          <textarea matInput placeholder="quantity" [(ngModel)]="newIngredient.quantity" (keyup.enter)="addNewIngrdient()" name="newInstructions.quantity"></textarea>
        </mat-form-field>
      </div>
      <button mat-fab extended class="recipe-mat-btn-tertiary" (click)="addNewIngrdient()" (keyup.enter)="addNewIngrdient()">
        <mat-icon>add</mat-icon>
        Add ingredient
      </button>
      <div class="r-stepper-footer">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <form class="r-form-recipes-data-instructions  r-overflow-auto">
      <ng-template matStepLabel>Fill out instructions</ng-template>
      <div cdkDropList class="r-list" [ngClass]="{'r-dark':isDarkMode, 'r-light': !isDarkMode }" (cdkDropListDropped)="drop($event)">
        <div class="r-box" [ngClass]="{'r-dark':isDarkMode, 'r-light': !isDarkMode }" [attr.data-drag-data]="instruction" *ngFor="let instruction of recipe.instructions; let i= index; trackBy:trackByFn" cdkDrag>
          {{instruction}}
          <div class="r-item-action-buttons">
            <button mat-mini-fab class="recipe-mat-fab-secondary" (click)="deleteInstruction(i)" matTooltip="Delete instruction">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="editInstruction(i)" matTooltip="Edit instruction">
              <mat-icon>edit</mat-icon>
            </button> 
          </div>
        </div>
      </div>
      <mat-form-field class="r-full-width d-new-instruction">
        <mat-label>Next instruction</mat-label>
        <textarea matInput placeholder="instruction step" (keyup.enter)="addNewInstruction()" [(ngModel)]="newInstruction" name="newInstructions"></textarea>
      </mat-form-field>
      <button mat-fab extended class="recipe-mat-btn-tertiary" (click)="addNewInstruction()" [disabled]="recipe.instructions.length > 10">
        <mat-icon>add</mat-icon>
        Add instruction
      </button>
      <div class="r-stepper-footer">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Category and add photo</ng-template>
    <div class="r-form-recipes-data">
      <mat-form-field class="r-full-width">
        <mat-label>Category</mat-label>
        <input type="text" matInput [(ngModel)]="recipe.category" [matAutocomplete]="auto" (ngModelChange)="categoryChanged($event)">
        <mat-autocomplete #auto="matAutocomplete" autoSelectActiveOption="true">
          <mat-option *ngFor="let category of filteredOptions"
            [value]="category">
              {{category}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="recipe.published" checked="true" class="r-slide-toggle">Published</mat-slide-toggle>
      <mat-form-field class="r-full-width">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          <mat-chip-row *ngFor="let tag of recipe.tags" (removed)="removeTag(tag)">
            {{tag}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New tag..." #tagInput [formControl]="tagCtrl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="autoTags"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)"/>
        <mat-autocomplete #autoTags="matAutocomplete" (optionSelected)="selectedTag($event)">
          <mat-option *ngFor="let tag of $tags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <app-file-input (fileUploadedEvent)="uploadedFile($event)" requiredFileType="image/png, image/jpeg"></app-file-input>
      <div class="r-stepper-footer">
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
