<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
          Invalid email format
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('emailTaken')">
          Email is already taken
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname" />
        <mat-error *ngIf="registerForm.controls['nickname'].hasError('required')">
          Nickname is required
        </mat-error>
        <mat-error *ngIf="registerForm.controls['nickname'].hasError('nicknameTaken')">
          Nickname is already taken
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
          Password must contain at least one uppercase and lowercase letter, digit, special character, and be at least 6 characters long
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
    </form>
  </div>