<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'common.email' | t }}</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          {{ 'account.errors.emailRequired' | t }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
          {{ 'account.errors.emailFormatInvalid' | t }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('emailTaken')">
          {{ 'account.errors.emailTaken' | t }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ 'common.nickname' | t }}</mat-label>
        <input matInput formControlName="nickname" />
        <mat-error *ngIf="registerForm.controls['nickname'].hasError('required')">
          {{ 'account.errors.nicknameRequired' | t }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls['nickname'].hasError('nicknameInvalid')">
          {{ 'account.errors.nicknameInvalid' | t }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ 'common.password' | t }}</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
          {{ 'account.errors.passwordRequired' | t }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
          {{ 'account.errors.passwordPattern' | t }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>{{ 'common.confirmPassword' | t }}</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
      </mat-form-field>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.hasError('passwordMismatch')">
        {{ 'account.errors.passwordsMismatch' | t }}
      </mat-error>
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        {{ 'account.register.register' | t }}
      </button>
    </form>
  </div>
