html, body, app-root, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}