<div class="forgot-password-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <button class="r-login__button" mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Send link to email
    </button>
  </form>
  <div class="r-register">
    <div class="r-register__info">
      You don't have an account?
    </div>
    <button class="r-register__button" mat-raised-button color="primary" routerLink="/account/register">
      Register
    </button>
  </div>
  <div class="r-login">
    <button class="r-login__button" mat-button color="primary" routerLink="/account/login">
      Go to Login Page
    </button>
  </div>
</div>