<div *ngIf="recipesAll$ | async as recipesAll">
  <div class="r-chips" appResponsiveness [largeScreens]="['r-desktop']" [smallScreens]="['r-handset-poitret-mode']">
    <h5>Search all recipes by tags:</h5>
    <mat-chip-listbox multiple aria-label="Tag selection" (change)="chipsChanged($event)">
      <mat-chip-option [selected]="selected(tag)" title="tag" *ngFor="let tag of allTags$ | async">{{tag}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <app-recipes-list-item [recipe]="item" *ngFor="let item of recipesAll"></app-recipes-list-item>
</div>

