<div class="r-container" appResponsiveness 
    [largeScreens]="['r-desktop']" 
    [mediumScreens]="['r-tablet']"
    [smallScreens]="['r-handset-poitret-mode']" 
    [darkMode]="['r-dark-mode']">
    <div class="r-item"  [ngStyle]="{'background-color': isDark() ? 'inherit' : (recipe.photo?.mainColor ?? '#008000') + '22' }">
      <div class="r-header" appGradientBg="0deg" [gradientColor]="recipe.photo?.mainColor">
        <h2 class="r-category">{{recipe.category}}</h2>
        <h1 class="r-title" [ngStyle]="{ 'text-shadow': '1px 1px 1px ' + (recipe.photo?.mainColor ?? '#008000') }">
          {{recipe.title}}
        </h1>
        <h5 class="r-description">{{recipe.description}}</h5>
      </div>
      <div class="r-grid-container" appResponsiveness [largeScreens]="['r-desktop']" [mediumScreens]="['r-tablet']"
        [smallScreens]="['r-small']">
        <div class="r-grid-item-1">
          <img class="r-img" [ngStyle]="{'opacity': isDark() ? '0.5' : '1'}" width="200" height="150" priority
            ngSrc="{{recipe.photo?.url || recipe.imageUrl || '/assets/default/meal.jpg'}}"
            alt="{{recipe.title}}">
        </div>
        <div class="r-grid-item-2">
          <h4>
            Preparation time: {{recipe.preparationTime}}
          </h4>
        </div>
        <div class="r-grid-item-3">
        </div>
        <div class="r-grid-item-4">
          <h4>
            Cooking time: {{recipe.cookingTime}}
          </h4>
        </div>
        <div class="r-grid-item-5">
          <h4>
            Servings: {{recipe.servings}}
          </h4>
        </div>
        <div class="r-grid-item-6">
          <mat-chip-listbox>
            <mat-chip-option (chipClick)="chipClicked($event)" appChipClick *ngFor="let tag of recipe.tags">{{tag}}</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="r-grid-item-7 r-content" appGradientBg="270deg" [gradientColor]="recipe.photo?.mainColor">
          <div class="r-igredients">
            <h3>Igredients</h3>
            <ul class="r-ul">
              <li class="r-li" *ngFor="let igredient of recipe.ingredients">
                <span>{{igredient.name}}</span>
                <span> - </span>
                <span class="r-quantity">{{igredient.quantity}} {{igredient.unit}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="r-grid-item-8 r-content" appGradientBg="90deg" [gradientColor]="recipe.photo?.mainColor">
          <div class="r-instructions">
            <h3>Instructions</h3>
            <ol class="r-ol">
              <li class="r-li" *ngFor="let instruction of recipe.instructions">
                <span>{{instruction}}</span>
              </li>
            </ol>
          </div>
        </div>
        <div class="r-grid-item-9"> created by: {{recipe.createdBy}}</div>
      </div>
      <div class="r-card-footer">
        <div>
          <button mat-button *appIfAuth="true; else notAuthorized"> 
            <mat-icon [@likeToggle]="isLiked(recipe.likedByUsers) ? 'liked' : 'unliked'" class="r-favorite"  aria-hidden="false" aria-label="like icon" fontIcon="favorite"></mat-icon>
            {{isLiked(recipe.likedByUsers)? 'UNLIKE' : 'LIKE'}} | {{recipe.likedByUsers.length}}
          </button>
          <ng-template #notAuthorized>
            <button mat-button routerLink="/account/login">
              <mat-icon class="r-favorite" aria-hidden="false" aria-label="like icon" fontIcon="favorite"></mat-icon>
              LIKE</button>
          </ng-template>
        </div>
        <button class="r-add-button" mat-mini-fab routerLink="/recipes/upsert/{{recipe.id}}" matTooltip="Edit recipe" *appIfAdminOrOwner="recipe.createdBy">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
