<div class="r-container" [appDoubleClick]="recipe.id" (doubleClick)="navigateToDetails($event)" *ngIf="recipe">
  <div class="r-list-item-container" [appBgColorHover]="recipe.photo?.mainColor ?? '#008000'">
    <div class="r-list-item" appResponsiveness
      [ngStyle]="{'background-color': isDark() ? 'inherit' : (recipe.photo?.mainColor ?? '#008000') + '08', 'border': isDark() ? '1px solid #444': 'none'}"
      [darkMode]="['dark-mode-shadow']"
      [lightMode]="['light-mode-shadow']" (click)="updateDisplayDetails()">

      <div appResponsiveness [darkMode]="['r-dark-mode']">
        <div class="main-cart">
          <div appResponsiveness class="r-top-section" [largeScreens]="['r-display-grid-2-header']"
            [appGradientBg]="'0deg'" [gradientColor]="recipe.photo?.mainColor">
            <div class="r-list-item-header">
              <div class="r-list-item-header__title"
                [ngStyle]="{ 'text-shadow': '0px 0px 1px ' + (recipe.photo?.mainColor ?? '#008000') + '22' }">
                {{recipe.title}}</div>
              <div class="r-list-item-header__category">{{recipe.category}}</div>
              <div class="r-list-item-header__created-by">by: {{recipe.createdBy}}</div>
            </div>
            <div class="r-img-container">
              <img class="r-img" width="400" height="300"
                ngSrc="{{recipe.photo?.url || recipe.imageUrl || '/assets/default/meal.jpg'}}" alt="{{recipe.title}}">
            </div>
            <div class="r-chips-container">
              <mat-chip-listbox>
                <mat-chip appChipClick (chipClick)="clickTagOnItem($event)"
                  *ngFor="let tag of recipe.tags">{{tag}}</mat-chip>
              </mat-chip-listbox>
            </div>
            <div class="r-description">
              <span>{{recipe.description}}</span>
            </div>
          </div>
          <div appResponsiveness [largeScreens]="['r-display-grid-3']" class="r-top-section__bottom">
            <h6>Preparation time: {{recipe.preparationTime}}</h6>
            <h6>Cooking time: {{recipe.cookingTime}}</h6>
            <h6>Servings: {{recipe.servings}}</h6>
          </div>
        </div>
        @if(showDetails()){
        <div appResponsiveness [largeScreens]="['r-display-grid-2']">
          <div class="r-list-item-content" appGradientBg="270deg" [gradientColor]="recipe.photo?.mainColor">
            <div class="r-igredients">
              <h3 class="r-sub-header">Igredients</h3>
              <ul class="r-ul">
                <li class="r-li" *ngFor="let igredient of recipe.ingredients">
                  <span>{{igredient.name}}</span>
                  <span> - </span>
                  <span class="r-quantity">{{igredient.quantity}} {{igredient.unit}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="r-list-item-content" appGradientBg="90deg" [gradientColor]="recipe.photo?.mainColor">
            <div class="r-instructions">
              <h3>Instructions</h3>
              <ol class="r-ol">
                <li class="r-li" *ngFor="let instruction of recipe.instructions">
                  <span>{{instruction}}</span>
                </li>
              </ol>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="r-card-footer">
        <div>
          <button mat-button *appIfAuth="true; else notAuthorized" (click)="onLike(recipe.id)">
            <mat-icon [@likeToggle]="isLiked(recipe.likedByUsers) ? 'liked' : 'unliked'" class="r-favorite"
              aria-hidden="false" aria-label="like icon" fontIcon="favorite"></mat-icon>
            {{isLiked(recipe.likedByUsers)? 'UNLIKE' : 'LIKE'}} | {{recipe.likedByUsers.length}}
          </button>
          <ng-template #notAuthorized>
            <button mat-button routerLink="/account/login">
              <mat-icon class="r-favorite" aria-hidden="false" aria-label="like icon" fontIcon="favorite"></mat-icon>
              LIKE | {{recipe.likedByUsers.length}}
            </button>
          </ng-template>
        </div>
        <button class="r-add-button" matButton (click)="navigateToDetailsBtnClicked(recipe.id)"
          matTooltip="recipe details">
          Details
        </button>
        <button class="r-add-button" mat-mini-fab routerLink="/recipes/upsert/{{recipe.id}}" matTooltip="Edit recipe"
          *appIfAdminOrOwner="recipe.createdBy">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>