.r-list-item{
  &.r-desktop{
    margin: 4rem auto;
    padding: 4rem 2rem;
    width: calc(55% + 10rem);
  }
  
  &.r-handset-poitret-mode{
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
  }

  &.dark-mode-shadow {
    box-shadow: 0px 10px 30px 15px rgba(255,255,255,0.07);
  }

  &.light-mode-shadow {
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.07);
  }
  
  .r-img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
  }

  .r-ul{
    display: inline-block;
  }

  .r-list-item-content, .r-list-item-header {
    border-radius: 15px;
  }

  .r-list-item-content-bg-dark {
    background: linear-gradient(270deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(55,55,55,1) 100%);
  }

  .r-list-item-content-bg-dark-reverse {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(55,55,55,1) 100%);
  }

  .r-list-item-content-bg-light {
    background: linear-gradient(270deg, rgba(1, 75, 131, 0) 0%, rgba(3, 89, 164, 0) 20%, rgb(0, 84, 132,0.1) 100%);
  }

  .r-list-item-content-bg-light-reverse {
    background: linear-gradient(90deg, rgba(1, 75, 131, 0) 0%, rgba(3, 89, 164, 0) 20%, rgb(0, 84, 132, 0.1) 100%);
  }

  .r-list-item-header {
    padding: 2rem;
  }

  .r-list-item-header-bg-dark {
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(13,13,75,0) 20%, rgba(70,70,70,1) 100%);
  }

  .r-list-item-header-bg-light {
    background: linear-gradient(0deg, rgba(2, 255, 129, 0) 0%, rgba(13, 120, 150, 0) 20%, rgba(220, 220, 220, 0.334) 100%);
  }

  .r-igredients, .r-instructions{
    padding: 2rem;
  }

  .r-dark-mode {
    color: rgba(255,255,255,0.6);
  }

  .r-display-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
  }

  .r-display-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
    text-align: center;
  }

  .r-card-footer {
    display: flex;
    justify-content: space-between;
  }
}