@import "abstract/variables";

.r-list-item{
  &.r-desktop{
    margin: 4rem auto;
    padding: 4rem 2rem;
    width: calc(55% + 10rem);
  }
  
  &.r-handset-poitret-mode{
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
  }

  &.dark-mode-shadow {
    box-shadow: 0px 10px 30px 15px rgba(255,255,255,0.03);
  }

  &.light-mode-shadow {
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.03);
  }
  
  .r-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .r-ul{
    padding-inline-start: 20px;
    list-style: none;
    width: 80%;
    margin: 0 auto;

    .r-li{
      padding: 1rem;
      font-size: 1rem;
      text-align: center;

      .r-quantity {
        opacity: .75;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($r-color-grey-light, .22);
      }
    }
  
  }

  .r-ol {
    padding-inline-start: 20px;

    .r-li{
      padding: 1rem;
      font-size: 1rem;

      .r-quantity {
        opacity: .75;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($r-color-grey-light, .22);
      }
    }
  }

  .r-list-item-content, .r-list-item-header {
    border-radius: 15px;
  }

  .r-list-item-header {
    padding: 2rem;
  }

  .r-igredients, .r-instructions{
    padding: 2rem;
  }

  .r-dark-mode {
    color: rgba(255,255,255,0.6);
  }

  .r-display-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
  }

  .r-display-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
    text-align: center;
  }

  .r-card-footer {
    display: flex;
    justify-content: space-between;
  }
}