// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

$theme-ignore-duplication-warnings: true;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$culinary-recipes-app-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$culinary-recipes-app-accent: mat.m2-define-palette(mat.$m2-green-palette, A400, 900, A700);

// The warn palette is optional (defaults to red).
$culinary-recipes-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $culinary-recipes-app-theme: mat.m2-define-light-theme((color: (primary: $culinary-recipes-app-primary,
//         accent: $culinary-recipes-app-accent,
//         warn: $culinary-recipes-app-warn,
//       )));

// $culinary-recipes-app-theme-dark: mat.m2-define-dark-theme((color: (primary: $culinary-recipes-app-primary,
//         accent: $culinary-recipes-app-accent,
//         warn: $culinary-recipes-app-warn,
//       )));

//mat 3
$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$yellow-palette,
        tertiary: mat.$green-palette,
      ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$yellow-palette,
        tertiary: mat.$green-palette ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

//

/* You can add global styles to this file, and also import other style files */
@import 'base/typography';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.theme-light {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($light-theme);

  @include mat.chips-overrides((
    outline-color: inherit,
    label-text-color: #1c1c17bb
  ));

  .recipe-mat-fab-tertiary {
    @include mat.fab-color($light-theme, $color-variant: tertiary);
  }

  .recipe-mat-fab-secondary {
    @include mat.fab-color($light-theme, $color-variant: secondary);
  }

  .recipe-mat-btn-tertiary {
    @include mat.button-color($light-theme, $color-variant: tertiary);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f19f;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  --mat-app-text-color: #1c1c17bb;
  --mat-chip-label-text-color: #1c1c17bb;
}

.theme-dark {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($dark-theme);

  @include mat.chips-overrides((
    outline-color: dimgray,
    label-text-color: dimgray
  ));

  .recipe-mat-fab-tertiary {
    @include mat.fab-color($dark-theme, $color-variant: tertiary);
  }

  .recipe-mat-fab-secondary {
    @include mat.fab-color($dark-theme, $color-variant: secondary);
  }

  .recipe-mat-btn-tertiary {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #383838;
  }

    --mat-sys-color-on-surface: rgba(255, 255, 255, 0.7);
    --mat-sys-color-on-background: rgba(255, 255, 255, 0.7);
}



