// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$theme-ignore-duplication-warnings: true;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$culinary-recipes-app-primary: mat.define-palette(mat.$indigo-palette);
$culinary-recipes-app-accent: mat.define-palette(mat.$green-palette, A400, 900, A700);

// The warn palette is optional (defaults to red).
$culinary-recipes-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$culinary-recipes-app-theme: mat.define-light-theme((color: (primary: $culinary-recipes-app-primary,
        accent: $culinary-recipes-app-accent,
        warn: $culinary-recipes-app-warn,
      )));

$culinary-recipes-app-theme-dark: mat.define-dark-theme((color: (primary: $culinary-recipes-app-primary,
        accent: $culinary-recipes-app-accent,
        warn: $culinary-recipes-app-warn,
      )));

//mat 3
$dark-theme: matx.define-theme((color: (theme-type: dark,
        primary: matx.$m3-cyan-palette,
        tertiary: matx.$m3-green-palette,
      ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

$light-theme: matx.define-theme((color: (theme-type: light,
        primary: matx.$m3-cyan-palette,
        tertiary: matx.$m3-green-palette ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

//

/* You can add global styles to this file, and also import other style files */
@import 'base/typography';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

.theme-light {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($light-theme);

  .recipe-mat-fab-tertiary {
    @include mat.fab-color($light-theme, $color-variant: tertiary);
  }

  .recipe-mat-fab-secondary {
    @include mat.fab-color($light-theme, $color-variant: secondary);
  }

  .recipe-mat-btn-tertiary {
    @include mat.button-color($light-theme, $color-variant: tertiary);
  }
}

.theme-dark {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($dark-theme);

  .recipe-mat-fab-tertiary {
    @include mat.fab-color($dark-theme, $color-variant: tertiary);
  }

  .recipe-mat-fab-secondary {
    @include mat.fab-color($dark-theme, $color-variant: secondary);
  }

  .recipe-mat-btn-tertiary {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
  }
}



