@import '../abstract/variables';

.r-heading-secondary {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $r-color-primary, $r-color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
      transform: skewY(.2deg) skewX(2deg) scale(1.01);
      text-shadow: .5rem 1rem 2rem rgba($r-color-black, .2);
  }
}